{% extends 'treatment/Applications/base.html' %}
{% block content %}

                    
      <div class="flex flex-col items-center max-w-screen-xl mx-auto">

      </div>


      {% if request %}
      <div class="w-full mx-auto gap-2 max-w-screen-xl mx-auto">
        <div class="flex flex-row mx-auto">
            <h1 class="w-1/3 text-lg">Услуга</h1>
            <input type="text" class="rounded-lg border-blue-400 px-3 py-1 border border-blue-100 focus:outline-blue-200 w-2/3 bg-white	"  v-model="selectedService"
            value={{request.service.title}} 
            Общий анализ крови
            />
          </div>
          <div class="flex flex-row m-2 mx-auto">
            <h1 class="w-1/3 text-lg">Врач</h1>
            <input type="text" class="rounded-lg border-blue-400 px-3 py-1 border border-blue-100 focus:outline-blue-200 w-2/3 bg-white	" v-model="selectedDoctor"
            value={{request.doctor}}
            
            />
          </div>
          <div class="flex flex-row m-2 mx-auto">
            <h1 class="w-1/3 text-lg" >Лицо, получившее услугу</h1>
            <input type="text" class="rounded-lg border-blue-400 px-3 py-1 border border-blue-100 focus:outline-blue-200 w-2/3 bg-white	" v-model="recipient"
            value={{request.patient}} 
            disabled
            />
          </div>
          <div class="flex flex-row m-2 mx-auto">
            <h1 class="w-1/3 text-lg">Файлы</h1>
            <input type="text" class="rounded-lg border-blue-400 px-3 py-1 border border-blue-100 focus:outline-blue-200 w-2/3 bg-white	" v-model="selectedfiles" 
            disabled
            />
          </div>
        </div>
        {% endif %}
            <div class="items-center max-w-screen-xl mx-auto flex flex-row justify-between pt-8">
              <form action="/upload" target="_parent">
                <button
                    type="submit"
                    class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2"
                >
                    Назад
                </button>
              </form>
              <form action="/service" target="_parent">
                <button
                    type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-lg font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2"
                >
                  Отменить
                </button>
              </form>
              <form action="/payment" target="_parent">
                <button
                    type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-lg font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2"
                >
                  Подтвердить
                </button>
              </form>
            </div>
            {% endblock %}

      