{% extends 'treatment/Applications/base.html' %}
{% block content %}

                    
        <div class="flex flex-col items-center max-w-screen-xl mx-auto">
            <h1 class="mb-4 text-2xl font-medium mr-auto">Выберите врача</h1>
            <input
                v-model="searchDoctor"
                type="text"
                class="w-full px-2 py-1.5 mb-3 border border-blue-300 rounded-lg rounded-lg focus:outline-blue-500"
                placeholder="Поиск врача..."
            />
            <select class="w-full px-2 py-1.5 mb-3 border border-blue-300 rounded-lg rounded-lg focus:outline-blue-500"
            v-model="form.serviceForMe">
            {% for doctor in doctors %}
            <option v-for="index in filteredServices"
                    :key="index"
                    :value="index"
                    class="cursor-pointer hover:bg-blue-400 px-3 py-2 hover:text-white"
                    :class="index % 2 === 0 ? 'bg-gray-50' : 'bg-gray-100'">
                    {{doctor}}
        {% endfor %}
            </option>
          </select>
            <div class="flex flex-row gap-2 mr-auto">
              <input v-model="form.serviceForMe"
                    type="checkbox"
                    class="w-5 h-5 rounded">
              <p>Продолжить без врача</p>
            </div>
        </div>





          <div class="items-center max-w-screen-xl mx-auto flex flex-row justify-between pt-8">
            <form action="{% url 'service' %}" target="_parent">
              <button
                  type="submit"
                  class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2"
              >
                  Назад
              </button>
            </form>
            <form action="/toserve" target="_parent">
              <button
                  type="submit"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-lg font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2"
              >
                Далее
              </button>
            </form>
          </div>
          {% endblock %}
       