{% extends 'treatment/Applications/base.html' %}
{% block content %}


        <div class="flex flex-col items-center max-w-screen-xl mx-auto">
          <h1 class="mb-4 text-2xl font-medium mr-auto">Выберите врача</h1>
          <div class="flex flex-row w-full">
            <div class="w-1/2 gap-2">
              <h1 class="text-lg">Документы для исследований</h1>
              <h3 class="text-gray-400">(только файлы с расширением .jpg и .dicon)</h3>
              <input
                type="file"
                className="text-lg text-stone-500
                file:mr-5 file:py-1 file:px-3 file:border-[1px] 
                file:rounded-lg
                file:bg-blue-600
                file:text-black
                file:text-base file:font-medium
                file:bg-stone-50 file:text-stone-700
                hover:file:cursor-pointer hover:file:bg-blue-700 
                hover:file:text-white mt-5"
                @change="handleFileUpload" accept=".jpg,.dicon" multiple/
              >
            </div>
            <div  class="w-1/2">
              <div class="ml-auto w-min">
                <h1 class="text-lg">Документы дополнительной медицинской информации</h1>
                <h3 class="text-gray-400">(не больше 10-ти файлов)</h3>
                <input
                  type="file"
                  className="text-lg text-stone-500
                  file:mr-5 file:py-1 file:px-3 file:border-[1px] rounded-sm
                  file:text-base file:font-medium
                  file:rounded-lg
                  file:bg-blue-600
                  file:text-black
                  file:bg-stone-50 file:text-stone-700
                  hover:file:cursor-pointer hover:file:bg-blue-700 
                  hover:file:text-white mt-5" @change="handleFileUpload" accept=".pdf,.jpg,.doc,.png,.gif" multiple
                >
              </div>
          </div>
          </div>
        </div>
          <div class="items-center max-w-screen-xl mx-auto flex flex-row justify-between pt-8">
            <form action="/toserve" target="_parent">
              <button
                  type="submit"
                  class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2"
              >
                  Назад
              </button>
            </form>
            <form action="/confirmation" target="_parent">
              <button
                  type="submit"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-lg font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2"
              >
                Далее
              </button>
            </form>
          </div>
          {% endblock %}
       