{% extends 'treatment/Applications/base.html' %}
{% block content %}

                   
        <div class="justify-evenly flex items-center max-w-screen-xl  space-x-2 text-sm font-medium text-center text-gray-500 bg-white shadow-sm m-4 mx-auto">
        <div class="flex flex-row mx-auto w-full">
            <div class="flex flex-col gap-2 mx-auto w-full">
                <h1 class="mb-4 text-2xl font-medium mr-auto text-black">Кому оказать услугу</h1>
                <div class="flex flex-row w-full">
                    <div class="flex flex-col gap-2 text-black text-base font-normal">
                        <div class="flex flex-row gap-2">
                            <input
                                id="me"
                                type="radio"
                                name="serviceForMe"
                                value="me"
                                class="w-5 h-5 rounded-full mt-0.5"
                                onclick="toggleFormFields('me')"
                            >
                            Мне
                        </div>
                        <div class="flex flex-row gap-2">
                            <input
                                id="other"
                                type="radio"
                                name="serviceForMe"
                                value="other"
                                class="w-5 h-5 rounded-full mt-0.5"
                                onclick="toggleFormFields('other')"
                            >
                            Другое лицо
                        </div>
                        <div class="flex flex-row gap-2">
                            <input
                                id="none"
                                type="radio"
                                name="serviceForMe"
                                value="none"
                                class="w-5 h-5 rounded-full mt-0.5"
                                onclick="toggleFormFields('none')"
                            >
                            Не указывать персональные данные
                        </div>
                    </div>
                    <div class="flex flex-col gap-3 p-4 w-8/12 ml-auto border-2 rounded-xl border-blue-300">
                        <p class="pl-2 text-base text-black mr-auto">Фамилия Имя Отчество</p>
                        <div class="flex flex-row gap-3">
                            <div class="w-4/12 flex flex-col">
                                <input
                                    id="lastNameInput"
                                    type="text"
                                    placeholder=""
                                    class="px-3 py-1 border border-blue-300 rounded-lg focus:outline-blue-200 w-full bg-white"
                                    required pattern="[А-Яа-яA-Za-zЁё]+"
                                    disabled
                                >
                                <p id="lastNameError" class="text-red-500 text-xs mt-1"></p>
                            </div>
                            <div class="h-full w-4/12">
                                <input
                                    id="firstNameInput"
                                    type="text"
                                    placeholder=""
                                    class="px-3 py-1 border border-blue-300 rounded-lg focus:outline-blue-200 w-full bg-white" 
                                    required pattern="[А-Яа-яA-Za-zЁё]+"
                                    disabled
                                >
                                <p id="firstNameError" class="text-red-500 text-xs mt-1"></p>
                            </div>
                            <div class="w-4/12">
                                <input
                                    id="middleNameInput"
                                    type="text"
                                    placeholder=""
                                    class="px-3 py-1 border border-blue-300 rounded-lg focus:outline-blue-200 w-full bg-white" 
                                    required pattern="[А-Яа-яA-Za-zЁё]+"
                                    disabled
                                >
                                <p id="middleNameError" class="text-red-500 text-xs mt-1"></p>
                            </div>
                        </div>
                        <p class="pl-2 text-base text-black mr-auto">Дата рождения</p>
                        <input
                            type="datetime-local"
                            id="datetime"
                            class="px-4 py-1 border border-blue-300 rounded-lg focus:outline-blue-200 w-full bg-white"
                            disabled
                        >
                        <p class="pl-2 text-base text-black mr-auto">Документ удостоверяющий личность
                        <div class="flex flex-row gap-3"></p>
                            <input
                            id="passport"
                            type="text"
                            class="px-3 py-1 border border-blue-300 rounded-lg focus:outline-blue-200 w-6/12 bg-white"
                            disabled
                            >
                            <input
                                id="passport-date"
                                type="datetime-local"
                                class="px-3 py-1 border border-blue-300 rounded-lg focus:outline-blue-200 w-6/12 bg-white"
                                disabled
                            >
                        </div>
                            <p class="pl-2 text-base text-black mr-auto">Снилс</p>
                            <div class="flex flex-row gap-3 w-full">
                            <input
                                id="snils"
                                type="text"
                                class="px-3 py-1 border border-blue-300 rounded-lg focus:outline-blue-200 w-4/12 bg-white"
                                disabled
                            >
                            </div>
                        </div>
                </div>
            </div>
    </div>
    <div class="items-center max-w-screen-xl mx-auto flex flex-row justify-between pt-8">
        <form action="/doctor" target="_parent">
          <button
              type="submit"
              class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2"
          >
              Назад
          </button>
        </form>
        <form action="/upload" target="_parent">
          <button
              type="submit"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-lg font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2"
          >
            Далее
          </button>
        </form>
      </div>
        <script>
            const lastNameInput = document.getElementById("lastNameInput");
            const firstNameInput = document.getElementById("firstNameInput");
            const middleNameInput = document.getElementById("middleNameInput");
            const datetimeInput = document.getElementById("datetime");
            const passportInput = document.getElementById("passport");
            const passportdateInput = document.getElementById("passport-date");
            const snilsInput = document.getElementById("snils");
        
            function toggleFormFields(value) {
                lastNameInput.disabled = (value === "me" || value === "none");
                firstNameInput.disabled = (value === "me" || value === "none");
                middleNameInput.disabled = (value === "me" || value === "none");
                datetimeInput.disabled = (value === "me" || value === "none");
                passportInput.disabled = (value === "me" || value === "none");
                passportdateInput.disabled = (value === "me" || value === "none");
                snilsInput.disabled = (value === "me" || value === "none") 

                if (value === "none") {
                    lastNameInput.value = "";
                    firstNameInput.value = "";
                    middleNameInput.value = "";
                    datetimeInput.value = "";
                    passportInput.value = "";
                    passportdateInput.value = "";
                    snilsInput.value = "";
                }
            }
        </script>
        {% endblock %}
