<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="/static/assets/favicon-32x32.png">
  <title>RdC</title>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <script>
    document.addEventListener('click', event => {
        const dropdownButton = event.target.closest("[navbar-dropdown-button]");
        const dropdown = dropdownButton ? dropdownButton.nextElementSibling : null;
        
        // Close other open dropdowns
        const openDropdowns = document.querySelectorAll("[navbar-dropdown].open");
        openDropdowns.forEach(openDropdown => {
            if (openDropdown !== dropdown) {
                openDropdown.classList.add("hidden");
                openDropdown.classList.remove("open");
            }
        });

        if (dropdownButton && dropdown) {
            dropdown.classList.toggle("hidden");
            dropdown.classList.toggle("open");
        } else {
            openDropdowns.forEach(openDropdown => {
                openDropdown.classList.add("hidden");
                openDropdown.classList.remove("open");
            });
        }
    });
</script>
</head>
<nav class="bg-white border-gray-200" >
    <div class="max-w-screen-xl flex flex-wrap items-center mx-auto p-4">
      <a href="/" class="flex items-center" active-class="">
        <img src="/static/assets/logo.png" class="h-12 mr-3" alt="RdC">
        <span class="self-center mr-8 text-2xl font-semibold whitespace-nowrap">RdC</span>
      </a>
      <div class="flex ml-auto md:order-2">
        <div class="relative" x-data="{ open: false }" navbar-dropdown>
          <button
            type="button"
            class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300"
            @click="open = !open"
            navbar-dropdown-button
          >
            <img class="w-10 h-10 rounded-full pointer-events-none" src="/static/assets/logo.png" alt="user photo">
          </button>
          <div
            class="hidden dropdown absolute right-0 z-50 my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow"
          >
            <button>
              <a class="p-2">{{user.username}}</a>
              <span class="caret"></span>
            </button>
            <ul class="menu py-2">
              <li>
                <a href="/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Настройки</a>
              </li>
              <li>
                <a href="/authorization" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Выход</a>
              </li>
              <li>
                <a href="/doctor" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Кабинет врача</a>
              </li>
            </ul>
          </div>
        </div>
      <button
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        @click="mobileMenu = !mobileMenu"
      >
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div class="items-center justify-between w-full md:flex md:w-auto md:order-1" :class="mobileMenu ? 'block' : 'hidden'">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white">
        <li>
          <a href="/" class="block py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent text-blue-700 md:p-0">Заявки</a>
        </li>
        <li>
          <a href="/services" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Услуги</a>
        </li>
        <li>
          <a href="/uploadedfiles" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Загруженные файлы</a>
        </li>
        <li>
          <a href="/protocols" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Протоколы</a>
        </li>
        <li>
          <a href="/payment" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Оплата</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div class="p-4">
        <ol class="justify-evenly flex items-center max-w-screen-xl px-3 py-1 space-x-2 text-sm font-medium text-center text-gray-500 bg-white border border-gray-200 rounded-lg shadow-sm m-4 mx-auto">
            <li class="flex items-center py-3">
              <span
                class="flex items-center justify-center w-5 h-5 mx-2 px-2 text-xs border rounded-full shrink-0 border-gray-600 text-gray-600"
              >
                1
              </span>
              <p class="text-base">Выберите услугу</p>
            </li>
            <svg
                class="w-3 h-3 ml-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 12 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m7 9 4-4-4-4M1 9l4-4-4-4"
                />
              </svg>
            <li class="flex items-center ">
              <span
                class="flex items-center justify-center w-5 h-5 mr-2 text-xs border rounded-full shrink-0 border-gray-600"
              >
                2
              </span>
              <p class="text-base">Выберите врача</p>
            </li>
            <svg
                class="w-3 h-3 ml-2 bg"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 12 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m7 9 4-4-4-4M1 9l4-4-4-4"
                />
              </svg>
            <li class="flex items-center ">
              <span
                class="flex items-center justify-center w-5 h-5 mr-2 text-xs border rounded-full shrink-0 border-blue-600 text-blue-600"
              >
                3
              </span>
              <p class="text-base text-blue-600">Кому оказать услугу</p>
            </li>
            <svg
                class="w-3 h-3 ml-2 bg text-blue-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 12 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m7 9 4-4-4-4M1 9l4-4-4-4"
                />
              </svg>
            <li class="flex items-center ">
              <span
                class="flex items-center justify-center w-5 h-5 mr-2 text-xs border rounded-full shrink-0 border-gray-600"
              >
                4
              </span>
              <p class="text-base">Загрузить исследования</p>
            </li>
            <svg
                class="w-3 h-3 ml-2 bg"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 12 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m7 9 4-4-4-4M1 9l4-4-4-4"
                />
              </svg>
            <li class="flex items-center ">
              <span
                class="flex items-center justify-center w-5 h-5 mr-2 text-xs border rounded-full shrink-0 border-gray-600"
              >
                5
              </span>
              <p class="text-base">Подтверждение</p>
            </li>
            <svg
                class="w-3 h-3 ml-2 bg"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 12 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m7 9 4-4-4-4M1 9l4-4-4-4"
                />
              </svg>
            <li class="flex items-center ">
              <span
                class="flex items-center justify-center w-5 h-5 mr-2 text-xs border rounded-full shrink-0 border-gray-600"
              >
                6
              </span>
              <p class="text-base">Оплата</p>
            </li>
          </ol>
{% block content %}
        <div class="justify-evenly flex items-center max-w-screen-xl flex-col space-x-2 text-sm font-medium text-center text-gray-500 bg-white shadow-sm m-4 mx-auto">
            <div class="flex flex-row mx-auto w-full">
                <div class="flex flex-col gap-2 mx-auto w-full">
                    <h1 class="mb-4 text-2xl font-medium mr-auto text-black">Кому оказать услугу</h1>
                    <div class="flex flex-row w-full">
                        <div class="flex flex-col gap-2 text-black text-base font-normal">
                            <div class="flex flex-row gap-2">
                                <input
                                    id="me"
                                    type="radio"
                                    name="service_choice"
                                    value="me"
                                    class="w-5 h-5 rounded-full mt-0.5"
                                    onclick="toggleFormFields('me')"
                                >
                                Мне
                            </div>
                            <div class="flex flex-row gap-2">
                                <input
                                    id="other"
                                    type="radio"
                                    name="service_choice"
                                    value="other"
                                    class="w-5 h-5 rounded-full mt-0.5"
                                    onclick="toggleFormFields('other')"
                                >
                                Другое лицо
                            </div>
                            <div class="flex flex-row gap-2">
                                <input
                                    id="none"
                                    type="radio"
                                    name="service_choice"
                                    value="none"
                                    class="w-5 h-5 rounded-full mt-0.5"
                                    onclick="toggleFormFields('none')"
                                >
                                Не указывать персональные данные
                            </div>
                        </div>
                        
                        <div class="flex flex-col gap-3 p-4 w-8/12 ml-auto border-2 rounded-xl border-blue-300">
                            <p class="pl-2 text-base text-black mr-auto">Фамилия Имя Отчество</p>
                            <div class="flex flex-row gap-3">
                                <div class="w-4/12 flex flex-col">
                                    <input
                                        id="lastNameInput"
                                        type="text"
                                        placeholder="Фамилия"
                                        class="px-3 py-1 border border-blue-300 rounded-lg focus:outline-blue-200 w-full bg-white"
                                        required pattern="[А-Яа-яA-Za-zЁё]+"
                                        disabled
                                    >
                                    <p id="lastNameError" class="text-red-500 text-xs mt-1"></p>
                                </div>
                                <div class="h-full w-4/12">
                                    <input
                                        id="firstNameInput"
                                        type="text"
                                        placeholder="Имя"
                                        class="px-3 py-1 border border-blue-300 rounded-lg focus:outline-blue-200 w-full bg-white" 
                                        required pattern="[А-Яа-яA-Za-zЁё]+"
                                        disabled
                                    >
                                    <p id="firstNameError" class="text-red-500 text-xs mt-1"></p>
                                </div>
                                <div class="w-4/12">
                                    <input
                                        id="middleNameInput"
                                        type="text"
                                        placeholder="Отчество"
                                        class="px-3 py-1 border border-blue-300 rounded-lg focus:outline-blue-200 w-full bg-white" 
                                        required pattern="[А-Яа-яA-Za-zЁё]+"
                                        disabled
                                    >
                                    <p id="middleNameError" class="text-red-500 text-xs mt-1"></p>
                                </div>
                            </div>
                            <p class="pl-2 text-base text-black mr-auto">Дата рождения</p>
                            <input
                                type="date"
                                id="datetime"
                                placeholder="Дата рождения"
                                class="px-4 py-1 border border-blue-300 rounded-lg focus:outline-blue-200 w-full bg-white"
                                disabled
                            >
                            <p class="pl-2 text-base text-black mr-auto">Документ удостоверяющий личность
                            <div class="flex flex-row gap-3"></p>
                                <input
                                id="passport"
                                type="text"
                                placeholder="Серия и номер паспорта"
                                class="px-3 py-1 border border-blue-300 rounded-lg focus:outline-blue-200 w-6/12 bg-white"
                                disabled
                                >
                                <input
                                    id="passport-date"
                                    type="date"
                                    class="px-3 py-1 border border-blue-300 rounded-lg focus:outline-blue-200 w-6/12 bg-white"
                                    disabled
                                >
                            </div>
                                <p class="pl-2 text-base text-black mr-auto">Снилс</p>
                                <div class="flex flex-row gap-3 w-full">
                                <input
                                    id="snils"
                                    type="text"
                                    placeholder="Снилс"
                                    class="px-3 py-1 border border-blue-300 rounded-lg focus:outline-blue-200 w-4/12 bg-white"
                                    disabled
                                >
                                </div>
                            </div>
                    </div>
            </div>
        
    </div>
    <div class="items-center w-full mx-auto flex flex-row justify-between pt-8">
        <form action="{% url 'doctor' %}" target="_parent">
          <button
              type="submit"
              class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2"
          >
              Назад
          </button>
        </form>
        <form action="{% url 'patient_add' %}" target="_parent" method="post">
            {% csrf_token %}
            <input type="hidden" id="userChoice" name="service_choice" value="">
          <button
              type="submit"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-lg font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2"
          >
            Далее
          </button>
        </form>
      </div>
        <script>
            const lastNameInput = document.getElementById("lastNameInput");
            const firstNameInput = document.getElementById("firstNameInput");
            const middleNameInput = document.getElementById("middleNameInput");
            const datetimeInput = document.getElementById("datetime");
            const passportInput = document.getElementById("passport");
            const passportdateInput = document.getElementById("passport-date");
            const snilsInput = document.getElementById("snils");
        
            function toggleFormFields(value) {
                lastNameInput.disabled = (value === "me" || value === "none");
                firstNameInput.disabled = (value === "me" || value === "none");
                middleNameInput.disabled = (value === "me" || value === "none");
                datetimeInput.disabled = (value === "me" || value === "none");
                passportInput.disabled = (value === "me" || value === "none");
                passportdateInput.disabled = (value === "me" || value === "none");
                snilsInput.disabled = (value === "me" || value === "none") 

                if (value === "none") {
                    lastNameInput.value = "";
                    firstNameInput.value = "";
                    middleNameInput.value = "";
                    datetimeInput.value = "";
                    passportInput.value = "";
                    passportdateInput.value = "";
                    snilsInput.value = "";
                }
                const userChoiceField = document.getElementById("userChoice");
                userChoiceField.value = value;
            }
        </script>
        {% endblock %}
