<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="/static/assets/favicon-32x32.png">
  <title>RdC</title>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <script>
    document.addEventListener('click', event => {
        const dropdownButton = event.target.closest("[navbar-dropdown-button]");
        const dropdown = dropdownButton ? dropdownButton.nextElementSibling : null;

        // Close other open dropdowns
        const openDropdowns = document.querySelectorAll("[navbar-dropdown].open");
        openDropdowns.forEach(openDropdown => {
            if (openDropdown !== dropdown) {
                openDropdown.classList.add("hidden");
                openDropdown.classList.remove("open");
            }
        });

        if (dropdownButton && dropdown) {
            dropdown.classList.toggle("hidden");
            dropdown.classList.toggle("open");
        } else {
            openDropdowns.forEach(openDropdown => {
                openDropdown.classList.add("hidden");
                openDropdown.classList.remove("open");
            });
        }
    });
</script>
</head>
<body>
<nav class="bg-white border-gray-200" >
  <div class="max-w-screen-xl flex flex-wrap items-center mx-auto p-4">
    <a href="/" class="flex items-center" active-class="">
      <img src="/static/assets/logo.png" class="h-12 mr-3" alt="RdC">
      <span class="self-center mr-8 text-2xl font-semibold whitespace-nowrap">RdC</span>
    </a>
    <!-- Начало выпадающего списка с настройками -->
    <div class="flex ml-auto md:order-2">
      <div class="relative" x-data="{ open: false }" navbar-dropdown>
        <button
          type="button"
          class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300"
          @click="open = !open"
          navbar-dropdown-button
        >
          <img class="w-10 h-10 rounded-full pointer-events-none" src="/static/assets/logo.png" alt="user photo">
        </button>
        <div
          class="hidden dropdown absolute right-0 z-50 my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow"
        >
          <!-- <div class="px-4 py-3">
            <span class="block text-sm text-gray-900">{{user.username}}ов {{user.username}}</span>
            <span class="block text-sm text-gray-500 truncate">ivanovivan@mail.ru</span>
          </div> -->
          <button>
            <a class="p-2">{{user.username}}</a>
            <span class="caret"></span>
          </button>
          <ul class="menu py-2">
            <li>
              <a href={% url 'profile' %} class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Профиль</a>
            </li>
            <li>
              <a href={% url 'authorization' %} class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Выход</a>
            </li>
            <li>
              <a href={% url 'doctor_cabinet' %} class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Кабинет врача</a>
            </li>
          </ul>
        </div>
      </div>
      <button
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        @click="mobileMenu = !mobileMenu"
      >
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <!-- Конец выпадающего списка с настройкаим -->
    <!-- Начало навигационнного меню -->
    <div class="items-center justify-between w-full md:flex md:w-auto md:order-1" :class="mobileMenu ? 'block' : 'hidden'">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white">
          <li>
            <a href={% url 'doctor_cabinet' %} class="block py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent text-blue-700 md:p-0">Новые заявки</a>
          </li>
          <li>
            <a href={% url 'doctors_request' %} class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Принятые заявки</a>
          </li>
          <li>
            <a href={% url 'completed_request' %} class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Завершенные заявки</a>
          </li>
        </ul>
      </div>
    <!-- Конец навигационнного меню -->
  </div>
</nav>
<body class="p-4">  
    <ol class="justify-evenly flex items-center px-3 py-1 space-x-2 text-sm font-medium text-center text-gray-500 bg-white w-4/12 border border-gray-200 rounded-lg shadow-sm m-4 mx-auto">
        <li class="flex items-center ">
          <span
            class="flex items-center justify-center w-5 h-5 mx-2 text-xs border rounded-full shrink-0 border-gray-600"
          >
            1
          </span>
          <p class="text-base">Выберите заявку</p>
        </li>
        <svg
            class="w-3 h-3 text-gray-600 ml-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            
            viewBox="0 0 12 10"
        >
            <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m7 9 4-4-4-4M1 9l4-4-4-4"
            />
        </svg>
        <li class="flex items-center py-3">
            <span
              class="flex items-center justify-center w-5 h-5 mr-2 px-2 text-xs border rounded-full shrink-0 border-blue-600 text-blue-600"
            >
              2
            </span>
            <p class="text-blue-600 text-base">Заполниете заявку</p>
          </li>
      </ol>
{% if requests %}
{% for request in requests %}               
  <div class="flex flex-col items-center max-w-screen-xl mx-auto pb-32">
    <div class="flex flex-col justify-between w-full">
      <!--<form action="" class="">-->
        <div class="flex-col w-9/12 gap-2 flex mx-auto border-2 border-blue-500 p-4 rounded-lg">
            <div class="flex gap-2 place-content-center">
              <div class="w-1/12">
                <input type="text" placeholder="Id" class="border-blue-500 mb-2 flex h-10 rounded-lg w-full" disabled
                value={{request.id}}>
              </div>
              <input class="w-8/12 flex p-2 border-blue-500 rounded-md break-words h-10" placeholder="Описание" disabled
              value="{{request.service.title}}">
              <div class="w-3/12">
                <input type="button" class="border-blue-500 cursor-pointer text-black-500 border py-2 px-2 hover:bg-gray-100 rounded-lg w-full mx-auto flex place-content-center h-10"
                 value="Список файлов" onclick="toggleFile({{request.research.id}})">
                <div id="fileContainer{{request.research.id}}" class="hidden fixed z-100 w-3/12">
                    {% if request.research %}
                    <a class="w-full mb-2 p-2 border border-gray-300 rounded-md">{{request.research}}</a>
                    {% endif %}
                </div>
              </div>                
            </div>
            <div class="flex place-content-center w-full gap-2">
                <input type="text" class="border-blue-500 rounded-lg w-4/12 mb-2" placeholder="Фамилия" disabled
                value={{request.patient.last_name}}>
                <input type="text" class="border-blue-500 rounded-lg w-4/12 mb-2" placeholder="Имя" disabled
                value={{request.patient.first_name}}>
                <input type="text" class="border-blue-500 rounded-lg w-4/12 mb-2" placeholder="Отчество (при наличии)" disabled
                value={{request.patient.patronymic}}>
            </div>
            <div class="w-full flex place-content-center">
                <textarea class="border-blue-500 w-full mb-2 p-2 border rounded-md break-words h-32" placeholder="Введите результат исследования"></textarea>
            </div>
            <input type="file" class="flex ml-auto">
            <div class="flex mx-auto gap-4 w-full justify-between mt-2">
                <input type="button" value="Назад" class="border py-2 px-4 rounded-lg border-blue-500 flex">
                <div id="myModal" class="modal">
                    <div class="modal-content">
                      <span class="close" onclick="closeModal()">&times;</span>
                      <p class="text-center text-gray-700 text-lg mb-4">Вы уверены, что хотите отменить заявку?</p>
                      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick="cancelRequest()">Да, отменить</button>
                    </div>
                  </div>
                  <button class="border py-2 px-4 rounded-lg border-blue-500" type="button" onclick="openModal()">Отменить заявку</button>
                  
                  <style>
                    /* Стили для модального окна */
                    .modal {
                      display: none;
                      justify-content: center;
                      align-items: center;
                      overflow: auto;
                      position: fixed;
                      z-index: 1;
                      left: 0;
                      top: 0;
                      width: 100%;
                      height: 100%;
                      background-color: rgba(0, 0, 0, 0.5);
                    }
                  
                    .modal-content {
                      background-color: #fff;
                      padding: 20px;
                      width: 80%;
                      border-radius: 5px;
                      text-align: center;
                      position: relative;
                    }
                  
                    .close {
                      position: absolute;
                      top: 0;
                      right: 0;
                      padding: 10px;
                      cursor: pointer;
                    }
                  
                    .close:hover {
                      background-color: #f00;
                      color: #fff;
                    }
                  </style>
                  
                  <script>
                    // Открыть модальное окно
                    function openModal() {
                      const modal = document.getElementById('myModal');
                      modal.style.display = 'flex';
                    }
                  
                    // Закрыть модальное окно
                    function closeModal() {
                      const modal = document.getElementById('myModal');
                      modal.style.display = 'none';
                    }
                  
                    // Обработка нажатия кнопки "Отменить"
                    function cancelRequest() {
                      // Ваш код для отмены заявки
                      alert('Заявка успешно отменена.');
                      closeModal();
                    }
                  </script>
                  
                  <form action="{% url 'complete_analysis' request.id %}" target="_parent">
                    <button
                        type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-lg font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2"
                    >
                      Отправить
                    </button>
                  </form> >
            </div>
        </div>
        {% endfor %}
        {% endif %}
      <!--</form>-->
    </div>
    
</body>  
<script>
    function toggleFile(rowId) {
      const fileContainer = document.getElementById(`fileContainer${rowId}`);
      if (fileContainer.style.display === 'none' || fileContainer.style.display === '') {
        fileContainer.style.display = 'block';
      } else {
        fileContainer.style.display = 'none';
      }
    }
</script>